*{
    font-family: Verdana;
    margin: 0;
}
.footer{
    background: #eee;
}
.wrapper{
 width: 100%;
    max-width: 960px;
    margin: 0;

}
.flex-container{
   display:flex;
    background: #333333;
    flex-wrap: wrap;
}
.box{
    height: 100px;
    min-width: 100px;
    flex-basis: 100px;
}
.one{
    background: aqua;
    //flex-shrink: 1;
    flex-grow: 4;
}
.two{
    background: goldenrod;
    //flex-shrink: 2;
    flex-grow: 3;
}
.three{
    background: darkorchid;
    //flex-shrink: 3;
    flex-grow: 3;
}
nav{
    background: #9361bf;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav li{
 text-decoration: none;
    text-align: center;
    color: goldenrod;
    display: block;
    padding: 10px;
}
nav li:hover{
    background-color:#555 ;
}
@media screen and (min-width: 768px){
nav ul{
    display: flex;
    justify-content: space-between;
}
    nav li{
        //flex :1 1 0;
    }
}
