*{
    font-family: Verdana;
    margin: 0;
}
.footer{
    background: #eee;
}
.wrapper{
 width: 100%;
    max-width: 960px;
    margin: 0;

}
.flex-container{
   //display:flex;
}
.box{
    height: 100px;
    min-width: 100px;
}
.one{
    background: aqua;
}
.two{
    background: goldenrod;
}
.three{
    background: darkorchid;
}