body{
    height: 100%;
    width: 1200px;
}
.Hero--section{
   display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.Hero--section--Box{
    grid-column: 1/3;
}
.image{
    grid-column: 3/6;
}
.Hero--section--content{
    margin-top: 100px;
    margin-left: 50px;
    align-items: center;
}
.title--des{
font-size: 48px;
    font-weight: 700;

}
.title{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
}
.title--sub{
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
}
.desc{
    font-size: 16px;
    font-weight: 400;
}
.btn-primary{
margin-left: 50px;
    margin-top: 20px;
    background-color: white;
    text-decoration-color: white;
    height: 20px;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    width: 130px;
    text-align: center;
    line-height: 0px;
}

